<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/f323dd65-8355-42db-899c-d95028247657/resourcegroups/AKAzureU01/providers/Microsoft.Web/sites/ODataExample</ResourceId>
    <ResourceGroup>AKAzureU01</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://odataexample.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/f323dd65-8355-42db-899c-d95028247657/resourcegroups/AKAzureU01/providers/Microsoft.ContainerRegistry/registries/registry20190611085624</ContainerResourceId>
    <ContainerResourceName>registry20190611085624</ContainerResourceName>
    <Subscription>Visual Studio Ultimate with MSDN</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20190611085624.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>99f7b49c-9cdf-454f-882b-8fa3973d3f8e</ProjectGuid>
  </PropertyGroup>
</Project>